<%#= 後ほどフラッシュメッセージを記述を追加する %>
<%#=%>
<h1>投稿一覧：Books</h1>
<table>
  <tr>
    <th>*本のタイトル</th>
    <th>*本の説明</th>
  </tr>





<% @books.each do |book| %>
  <h3>タイトル</h3>
  <span><%= book.title %></span>
  <h3>説明</h3>
  <span><%= book.body %></span>

<%= link_to "詳細", book_path(book.id) %>
<%= link_to "編集", edit_book_path(book.id) %>
<%= link_to "削除", book_path(book.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
<% end %>
</table>
<h2>新規投稿フォーム</h2>
<%#= 後ほどバリデーションの記述を追加する %>
<%#=%>
<%= form_with model: @book, url: '/books', method: :post do |f| %>
  <h4>タイトル</h4>
  <%= f.text_field :title %>

  <h4>説明</h4>
  <%= f.text_area :body %>
  <%= f.submit '投稿する' %>

<% end %>
<%= link_to "トップページに戻る", root_path %>