<%#= 後ほどフラッシュメッセージを記述を追加する %>
<%#=%>
<h1>一覧：Books</h1>
<%= link_to "トップページに戻る", root_path %>
<p>タイトル</p>
<P>説明</P>
<%#= 後ほどリンクを作成する %>
<%#= link_to "詳細", book_path(book.id) %>
<%#= link_to "編集", edit_book_path(book.id) %>
<%#= link_to "削除", book_path(book.id) %>
<h2>新規投稿フォーム</h2>
<%#= 後ほどバリデーションの記述を追加する %>
<%#=%>
<%= form_with model: @book, url: '/books', method: :post do |f| %>
  <h4>タイトル</h4>
  <%= f.text_field :title %>
  <h4>説明</h4>
  <%= f.text_area :body %>
  <%= f.submit '投稿する' %>
<% end %>